@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui,sans-serif;
}

@layer base{
  html{
    font-family: var(--font-sans);
  }
}

/* ---------- PARTICLES ---------- */

.particle {
  position: absolute;

  width: 5px;
  height: 5px;

  border-radius: 999px;

  background: #22c55e;

  box-shadow:
    0 0 6px #22c55e,
    0 0 14px #22c55e,
    0 0 28px rgba(34, 197, 94, .5);

  animation: floatParticle linear infinite;
}

@keyframes floatParticle {

  0% {
    transform: translateY(40px) translateX(0);
    opacity: 0;
    scale: .8;
  }

  20% {
    opacity: 1;
  }

  50% {
    transform: translateY(-120px) translateX(25px);
  }

  100% {
    transform: translateY(-260px) translateX(-15px);
    opacity: 0;
    scale: 1.4;
  }

}


/* ---------- GLOW ---------- */

.glow {
  position: absolute;
  border-radius: 50%;
  filter: blur(110px);
  opacity: .18;
  animation: moveGlow 18s ease-in-out infinite;
}

.glow-green {

  width: 420px;
  height: 420px;

  background: #22c55e;

  left: -150px;
  top: 10%;
}

.glow-cyan {

  width: 350px;
  height: 350px;

  background: #06b6d4;

  right: -120px;
  bottom: 8%;

  animation-delay: 9s;
}

@keyframes moveGlow {

  0%,
  100% {

    transform: translate(0, 0);

  }

  50% {

    transform: translate(120px, -90px);

  }

}

/* :root{
  
  --color-light-bg: #F8FAFC;
  --color-light-card: #FFFFFF;
  --color-light-border: #E2E8F0;
  --color-light-text: #0F172A;
  --color-light-muted: #64748B;
  --color-light-accent: #059669;
  --color-light-critical: #DC2626;


  --color-dark-bg: #0B0F19;

  --color-dark-card: #161D30;
  --color-dark-border: #242F4D;
  --color-dark-text: #FFFFFF;
  --color-dark-muted: #94A3B8;
  --color-dark-accent: #00E676;
  --color-dark-critical: #FF3D00;
} */